<!DOCTYPE html>

<html>
    <head>
        <title>AIvita</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="container">
            <nav>
                <img src="{{ url_for('static', filename='logo-removebg-preview.png') }}" alt="aivita" class="logo">
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('technology')}}">Technology</a></li>                    
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
                <a href="https://github.com/12mustafashahid/YOLOv8-Flask-Web-App" class="btn">Github</a>
            </nav>

            <div class="content">
                <h1>AIvita</h1>
                <br>
                <h3 style="font-size: 35px; color: gold; font: italic; text-align: center;  border-bottom: gold 1px solid;">The Technology</h3><br><br>
                <h3 style="color: crimson;font-size: 30px;">Raspberry Pi</h3><br>
                <p style="padding-left: 25px; font-size: 20px;">The Raspberry Pi is a tiny computer powerhouse packed onto a credit card-sized board.<img src="{{ url_for('static', filename='hardware.jpg') }}" alt="" style="float: right;">
                     Despite its size, it boasts impressive capabilities. Designed to be affordable and accessible, it's a favorite
                      among hobbyists and educators.  The Raspberry Pi runs on Linux-based operating systems, making it familiar to
                       programmers. It also features unique General Purpose Input/Output pins, allowing users to connect sensors, lights,
                        and other electronic components, transforming it into the brain of various creative projects. 
                        Developed by the Raspberry Pi Foundation, it's known for being:
                    <ul style="list-style: circle;  padding-left: 45px;  font-size: 20px;">
                        <li style="font: italic;">Affordable</li>
                        <li style="font: italic;">Compact</li>
                        <li style="font: italic;">Versatile</li>
                    </ul></p><br>
                <h3 style="color: crimson;font-size: 30px;">YOLOv8</h3><br>
                <p style="padding-left: 25px; font-size: 20px;">
                    YOLOv8 is a cutting-edge deep learning model designed for real-time object detection, particularly useful in computer vision 
                    applications. It stands out for its speed and accuracy, making it ideal for tasks like analyzing images or videos to identify
                     and locate objects within them. YOLOv8 leverages powerful algorithms trained on vast datasets of images to achieve this. Unlike
                      some earlier models, it predicts objects directly, eliminating a complex step and further boosting its efficiency. This makes
                       YOLOv8 a valuable tool for various fields, including robotics, autonomous vehicles, and even medical image analysis.
                </p><br>
                <h3 style="color: crimson;font-size: 30px;">Flask</h3><br>
                <p style="padding-left: 25px; font-size: 20px;">
                    Flask is a Python web framework designed with simplicity<img src="{{ url_for('static', filename='flask.png') }}" alt="" style="float: right; width: 400px;"> and flexibility in mind.
                    This makes it a great choice for both beginners
                    and experienced developers. Unlike bulkier frameworks, Flask has a lightweight core, allowing you to tailor features like
                    database access or form validation using extensions. This streamlined approach makes Flask perfect for building a range of web applications,
                    from basic websites to complex APIs.
                </p><br>
                <h3 style="color: crimson;font-size: 30px;">Azure</h3><br>
                <p style="padding-left: 25px; font-size: 20px;">
                    Azure App Service simplifies building and hosting web apps,<img src="{{ url_for('static', filename='azure.png') }}" alt="" style="float: right; width: 400px;"> mobile backends, and APIs in the cloud.
                    It acts as a managed environment, so you can concentrate on your application's code while Microsoft
                    handles the underlying infrastructure, security, and ongoing maintenance.
                    This platform offers flexibility with support for various programming languages and simplifies
                    management by automatically patching, scaling resources, and keeping your application running smoothly.
                    Moreover, built-in security features ensure your applications are well-protected.
                </p><br>
             </div>
            <br><br><br>
            
            <div class="borderdiv">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="botmenu">
                <div class="botimage">
                    <img src="{{ url_for('static', filename='pi-removebg-preview.png') }}" alt="raspberry pi" style="height: 75px; width: 150px;">
                </div>
                <div class="botimage">
                    <img src="{{ url_for('static', filename='ocv-removebg-preview.png') }}" alt="open cv" style="height: 75px; width: 150px;">
                </div>
                <div class="botimage">
                    <img src="{{ url_for('static', filename='ultralytics_yolov8_image-removebg-preview.png') }}" alt="yolo v8" style="height: 75px; width: 150px;">
                </div>
                <div class="botimage">
                    <img src="{{ url_for('static', filename='docker-removebg-preview.png') }}" alt="docker" style="height: 75px; width: 150px;">
                </div>                
            </div>
            <div>
                <br>
                <p  style="color: white; text-align: center; ">College of Electical & Mechanical Engineering</p>
            </div>

        </div>
    </body>
</html>